@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42;
    background-color:#17191C;
    color:#FFF;

}

a {
    color:inherit
}

ul {
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    margin:0;
    font-weight: normal;
}

/*
.wrapper{
    position: relative;
    width: 1920px;
    height: 2930px;
}
*/
.container{

    margin:0 auto;
    width: 1142px;
    height: 550px;
    
}
.header{
    position: relative;
    top:10px;
    height: 129px;
    margin-bottom: 79px;

}
.logo{
    display: block;
    position: absolute;
    top:0px;
    left:0px;
}
.menu{
    position: absolute;
    top: 16px;
    left: 439px;
}



.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right:50px;
}
.menu__item:last-child{
    margin: 0;
}

.menu__link{
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
}
.menu__link:hover {
    color:#FF3D00;
}

.contacts{
    position: absolute;
    top: 6px;
    right: 0px;
    text-align: right;
}
.contacts__phone {
    font-size: 26px;
    line-height: 35px;
    text-decoration: none;
    font-style: normal;
    margin-bottom: 0px;
}
.contacts__workhours {
    position: absolute;
    top: 28px;
    left: 92px;
    color:#FF3D00;
    text-decoration: underline;
    font-size: 13px;
    line-height: 20px;
    font-style: normal;
}
.hero__content{
    display: inline-block;
    position: relative;
    width: 780px;
    top:10px;
    left:180px;
}
.hero__text-section{
    display: block;
    position: relative;
    
}
.hero__title{
    text-align: center;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 18px;
}
.hero__subtitle{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 43px;
}
.btn{
    display: inline-block;
    position: relative;
    left: 295px;
    background: #FF5500;
    border-radius: 35px;
    padding: 18px 53px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
}
.btn:hover{
    background: #FF3D00;
    box-shadow: 0 0 4px 0 rgba(255,61,0,1);
}
.services{
    position: relative;
    top: 233px;
    width: 1143px;
    height: 476px;
}
.services__item{
    display: inline-block;
    position: relative;
    width: 362px;
    height: 476px;
    background: #FFFFFF;
    border-radius: 5px;
    color:#666666;
    margin-right: 24px;
}
.services__item:last-child{
    margin:0;
}
.service__img{
    position: absolute;
    top:36px;
    left:29px;
}
.service__name{
    position: absolute;
    top:146px;
    left:22px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color:#000;
}
.service__texts{
    display: inline-block;
    position: absolute;
    top:205px;
    left:22px;
    
}
.service__workers{
    width: 102px;
    height: 41px;

}
.service__days{
    width: 123px;
    height: 41px;
}
.service__description{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.btn.service{
    position: absolute;
    top: 368px;
    left:26px;
}
/*.main-caption{
    position: absolute;
    width: 776px;
    height: 333px;
    left: 572px;
    top: 229px;
}*/
