
.contacts{
    display: flex;
    height: 70%;
    /*position: absolute;*/
    /*top: 6px;
    right: 0px;*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.contacts__phone {
    font-size: 26px;
    line-height: 15px;
    text-decoration: none;
    font-style: normal;
    margin-bottom: 0px;
}
.contacts__workhours {
    /*position: absolute;
    top: 28px;
    left: 92px;*/
    color:#FF3D00;
    text-decoration: underline;
    font-size: 13px;
    line-height: 20px;
    font-style: normal;
    position: relative;
}
.contacts__hint{
    color: #9A9A9A;
    font-size: 11px;
    line-height: 20px;
    text-align: right;
    font-style: normal;
    padding: 0px 0px;
}