.container.footer-container__content{
    border-top: 1px solid #353538;
}
.footer-container__section{
    padding: 37px 0px;
    margin-bottom: 17px;
}
.footer{
    display: flex;
    justify-content: space-between;
    position: relative;
    

}
.footer--left{
    display: flex;
    width: 587px;
    justify-content: space-between;
    align-items: end;
}
.footer--right{
    display: flex;
    width: 439px;
    justify-content: space-between;
    align-items: flex-end;
}

.footer .logo{
    top:42px;
    bottom: 3px;
}

.footer__contacts{
    height: 90%;
    padding: 0px 4px;
    justify-content: space-between;

}


.footer__contacts--attendances {
    height: 90%;
    justify-content: space-between;
}

