
.paginator{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginator__list{
    display: flex;
    justify-content: space-between;
}
.paginator__display{
    margin-right: 23px;
}
.paginator__item{
    vertical-align: middle;
    text-align: center;
}
/*.paginator__item--active .paginator__link{
    background: #FF5500;
}*/
.paginator__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    
}
.paginator__link:hover{
    background: #FF5500;

}

.paginator--theme--light{
    color:#000;
    
}
.paginator__link--light{
    color: #000;
    
}
.paginator__link--light:hover{
    color: #FFF;
    
}
.paginator__attendances{
    margin-bottom: 90px;
}

