.services{
    width: 1143px;
}
.services__item{
    display: inline-block;
    position: relative;
    width: 362px;
    min-height: 476px;
    background: #FFFFFF;
    border-radius: 5px;
    color:#666666;
    margin-right: 23px;
}
.services__item:last-child{
    margin:0;
}
.service__img{
    position: absolute;
    top:36px;
    left:29px;
}
.service__name{
    position: absolute;
    top:146px;
    left:22px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color:#000;
}
.service__texts{
    display: inline-block;
    position: absolute;
    top:205px;
    left:22px;
    
}
.service__workers{
    width: 102px;
    height: 41px;

}
.service__days{
    position:absolute;
    top:0px;
    left: 182px;
    width: 123px;
    height: 41px;
}
.service__description{
    position: relative;
    width: 306px;
    height: 66px;
    top: 26px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.service__btn-wrapper .btn{
    position: absolute;
    top: 366px;
    left:25px;
}