/*.services{
}*/
.services__list{
    display: flex;
    justify-content: space-between;
}

.services__item{
    /*display: flex;*/
    /*flex-direction: column;
    justify-content: space-between;*/
    padding: 36px 34px 42px 22px ;
    /*position: relative;*/
    width: calc(100% / 3 - 18px);
    min-height: 476px;
    background: #FFFFFF;
    border-radius: 5px;
    color:#666666;
}
/*
.services__item:nth-child(3){
    flex-grow: 3;
}*/

.service__img{
 
    width: 26%;
    height: 80.5px;
    margin-bottom: 25px;
   
}

.service__name{

    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color:#000;
    margin-bottom: 16px;
}

.service__texts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 49px;
    /*position: absolute;
    top:205px;
    left:22px;*/
    
}
.service__workers{
    width: 102px;
    
    

}
.service__days{

    width: 123px;

}
.service__description{
    padding-top: 25px;
    width: 306px;
    height: 66px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.service__btn-wrapper .btn{
    /*position: absolute;*/
    display: flex;
    margin-top: auto;
}