
.socials__list{
    display:flex;
    justify-content: space-between;
    min-width: 174px;
    
}
.socials__item{
    
    vertical-align: middle;
    margin-right: 6px;
    background-repeat: no-repeat;
}
.socials__item:last-child{
    margin-right: 0px;
}
.socials__link{
    width: 36px;
    height: 36px;
    display: block;
    text-decoration: none;
    background: center center / no-repeat;
}

.socials__item.socials__item--telegram{
    background-image: url("../../images/telegram.svg");
}
.socials__item.socials__item--telegram:hover{
    background-image: url("../../images/thover.svg");
}

.socials__item.socials__item--vk{
    background-image: url("../../images/vk.svg");
}
.socials__item.socials__item--vk:hover{
    background-image: url("../../images/vkhover.svg");
}

.socials__item.socials__item--facebook{
    background-image: url("../../images/f.svg");
}
.socials__item.socials__item--facebook:hover{
    background-image: url("../../images/fhover.svg");
}

.socials__item.socials__item--instagram{
    background-image: url("../../images/in.svg");
}
.socials__item.socials__item--instagram:hover{
    background-image: url("../../images/inhover.svg");
}
