
.socials__list{
    display:flex;
    justify-content: space-between;
    min-width: 174px;
    
}
.socials__item{
    position: relative;
    vertical-align: middle;
}
.socials__link{
    position: relative;
    width: 36px;
    height: 36px;
    display: block;
    text-decoration: none;
    z-index: 100;
}

.socials__item.socials__item--telegram:after{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../images/icons/sprite.png') -10px -290px;
    opacity: 0;
    transition: .4s;
    
}
.socials__item.socials__item--telegram:before{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../images/icons/sprite.png') -10px -234px;
    opacity:1;
    transition: .4s;
    
}
.socials__item.socials__item--telegram:hover:after{
   
    opacity: 1;
}
.socials__item.socials__item--telegram:hover:before{
    opacity: 0; 
}

.socials__item.socials__item--vk:after{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../images/icons/sprite.png') -10px -402px;
    opacity: 0;
    transition: .4s;
    
}
.socials__item.socials__item--vk:before{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../images/icons/sprite.png') -10px -346px;
    opacity:1;
    transition: .4s;
    
}
.socials__item.socials__item--vk:hover:after{
   
    opacity: 1;
}
.socials__item.socials__item--vk:hover:before{
    opacity: 0; 
}

.socials__item.socials__item--facebook:after{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../images/icons/sprite.png') -10px -66px;
    opacity: 0;
    transition: .4s;
    
}
.socials__item.socials__item--facebook:before{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../images/icons/sprite.png') -10px -10px;
    opacity:1;
    transition: .4s;
    
}
.socials__item.socials__item--facebook:hover:after{
   
    opacity: 1;
}
.socials__item.socials__item--facebook:hover:before{
    opacity: 0; 
}


.socials__item.socials__item--instagram:after{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../images/icons/sprite.png') -10px -178px;
    opacity: 0;
    transition: .4s;
    
}
.socials__item.socials__item--instagram:before{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../images/icons/sprite.png') -10px -122px;
    opacity:1;
    transition: .4s;
    
}
.socials__item.socials__item--instagram:hover:after{
   
    opacity: 1;
}
.socials__item.socials__item--instagram:hover:before{
    opacity: 0; 
}

.socials__item.socials__item--instagram{
    background-image: url("../../images/in.svg");
}
.socials__item.socials__item--instagram:hover{
    background-image: url("../../images/inhover.svg");
}
